@use "common/mixin" as *;
/* ##############################
# contents
################################*/

// 공통
.rows {
  max-width: 140rem;
  margin: 0 auto;
}

.wow-technology__section {
  &.left {
    width: 80%;
    border-right: 0.1rem dashed #bba391;
  }
  .visual-wrap {
    position: relative;
    img {
      width: 100%;
    }
    .visual-text {
      position: absolute;
      bottom: 18%;
      left: 18%;
      h2 {
        font-size: 6.5rem;
        font-weight: 600;
        color: var(--heading2-color);
      }
    }
  }

  .tabs {
    @include flex($justify: center);
    width: 100%;
    & > div {
      background-color: #ecefe7;
      color: #a2a49f;
      font-size: 2rem;
      &.active {
        color: #fff;
        background: linear-gradient(
          to bottom,
          #3a0f0e,
          #86413b,
          #b38474,
          #c9ad9d
        );
      }
    }
  }

  .img-title {
    width: 50%;
  }
}

.img-section {
  pointer-events: none;
  .pc {
    display: block;
    @include tablet {
      display: none;
    }
  }
  .mobile {
    display: none;
    @include tablet {
      display: block;
    }
  }
}

.contact {
  width: 100%;
  border-bottom: 0.1rem dashed #bba391;
  margin-bottom: 10rem;
  position: relative;
  background-color: #ffffff;
  color: #000000;

  .rows {
    padding: 10rem 0;
    border-right: 0.1rem dashed #bba391;
    @include tablet {
      padding: 10rem 3rem;
      border-right: 0;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -0.7rem;
      height: 1rem;
      width: 15rem;
      background: url(/common/bar_bottom.png) no-repeat;
      background-size: 100%;
    }
  }
  .contact-title {
    font-size: 2.6rem;
    margin-bottom: 4rem;
    font-weight: 600;
  }
  .contact-wrap {
    @include flex($align: flex-start);
    gap: 2rem;
    @include tablet {
      flex-direction: column;
      gap: 5rem;
    }
    & > div {
      width: 50%;
      @include tablet {
        width: 100%;
      }
    }
    h4 {
      font-size: 2.6rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #000;
      margin-bottom: 4rem;
      font-weight: 600;
    }
    .offline {
      .map {
        width: 100%;
        height: 30rem;
        iframe {
          width: 100%;
          height: 100%;
          border: 0;
        }
      }
      .map-info {
        margin-top: 2rem;
        font-size: 1.7rem;
        .item {
          @include flex($align: flex-start);
          & + .item {
            margin-top: 1rem;
          }
          .title {
            font-weight: 600;
            width: 10rem;
          }
        }
      }
    }
  }
}

// input
.input-wrap {
  & + .input-wrap {
    margin-top: 4rem;
  }
  font-size: 1.8rem;
  @include flex($direction: column, $align: flex-start);
  span {
    display: block;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  input[type="text"],
  input[type="email"] {
    border: 0;
    border-bottom: 1px solid #737373;
    width: 100%;
  }
  textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #737373;
    height: 20rem;
    resize: none;
  }
  ::placeholder {
    color: #ddd;
  }
}

// 제출 버튼
.submit-wrap {
  margin-top: 4rem;
  text-align: center;

  .submit-btn {
    background: linear-gradient(to bottom, #3a0f0e, #86413b, #b38474, #c9ad9d);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.5rem 6rem;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover:not(:disabled) {
      opacity: 0.9;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}

// 제출 메시지
.submit-message {
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-align: center;

  &.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }

  &.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
}
