*,
*::before,
*::after {
  line-height: 1.2;
  box-sizing: border-box;
  // word-break: break-all;
  word-break: break-word;
  /* 단어 단위로 줄바꿈을 원할 경우 keep-all로 변경 */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
bdo,
a,
abbr,
acronym,
address,
area,
big,
bdi,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
select,
button,
keygen,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
datalist,
dialog,
figure,
figcaption,
footer,
header,
hgroup,
main,
map,
menuitem,
meter,
nav,
output,
ruby,
section,
summary,
progress,
time,
mark,
audio,
embed,
video,
rp,
rt,
wbr,
hr {
  margin: 0;
  padding: 0;
  //border: 0; 테마 스타일이 보이지 않아서 주석 처리
  font-weight: 400;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
pre,
input,
button,
select,
textarea {
  font: inherit;
}
strong {
  font-weight: 700;
}
html,
body {
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 1.2;
}
body {
  font: 1rem/1 system, "NotoSans", -apple-system, "San Francisco",
    "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Roboto",
    sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
input,
button,
select,
textarea {
  border-radius: 0;
  color: inherit;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
a:focus,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus,
button:active,
button:focus {
  /* outline: 0 사용여부는 추후에.. */
  outline: 3px dashed #000;
}
::placeholder {
  color: unset;
}
button:disabled {
  pointer-events: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a,
button,
label {
  cursor: pointer;
}
button {
  border: 0;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input,
select,
label,
img,
button,
th,
td {
  vertical-align: middle;
}
input[type="text"]::-ms-clear {
  display: none;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
img,
fieldset {
  border: 0;
  max-width: 100%;
}
ol,
ol li,
ul,
ul li,
menu {
  list-style: none;
}
i,
em,
address {
  font-style: normal;
}
:disabled {
  -webkit-text-fill-color: inherit;
  opacity: 1;
}
:disabled + label {
  -webkit-tap-highlight-color: transparent;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
